ul {
  padding: 0;
  margin: 0;
}

li {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  list-style: none;
  border: 1px solid black;
  padding-left: 8px;
}

li:not(:last-child) {
  margin-bottom: 4px;
}

.guessed-word {
  color: #00650e;
}
