.selector-container {
  --space: 4px;

  display: flex;
  align-items: stretch;
  gap: var(--space);
}

.button-container {
  display: flex;
  gap: var(--space);
}

.selected-color-display {
  width: 50px;
  aspect-ratio: 1;
}
